 h1{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border: 1px;
  padding: 5px 20px;
  border-radius: 4px ;
  align-items: center;
  text-decoration: none;
}
input{
  /* opacity: 0; */
  align-items: center;
}